// 第三方CSS库
@import "font-awesome.css";
@import "normalize.css";

// 自定义库
@import "brand";
@import "layout";
@import "detail";
@import "kit";



header#header {
  background-color: #fff;
  font-size: 14px;
  z-index: 10000;
}

header#header {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 0 1rem;
  }
  ul li:last-child {
    margin-right: 0;
  }
}

header#header .header-top {
  height: 100px;
  border-bottom: 1px solid $gray-light;
}

header#header .header-top a {
  color: $gray;
}

header#header .header-top a:hover,
header#header .header-top a:active,
header#header .header-top li.is--selected>a {
  color: $black;
}


.header-top .menu--start .logo>a {
  display: inline-block;
  text-indent: -999999px;
  overflow: hidden;
  background: url("http://www-static.operacdn.com/static-heap/28/2820d98042080cc51dea518980d80293bf732770/logo-header-opera.png") no-repeat left center;
  background-size: 100%;
  width: 120px;
  height: 80px;
}


.navigation {
  height: 100px;
  display: flex;
  align-items: center;
}


.header-top {
  ul.menu--start,
  ul.menu--end {
    height: inherit;
    display: flex;
    align-items: center;
  }

  ul.menu--end {
    justify-content: flex-end;
  }
}



header#header .header-bottom {
  border-bottom: 1px solid $gray-light;
}

.header-bottom ul.menu {
  display: flex;
  justify-content: center;
}

.header-bottom ul.menu>li>a {
  display: inline-block;
  padding: .5rem 0;
  color: $gray;
}

.header-bottom ul.menu>li>a:hover,
.header-bottom ul.menu>li>a:active,
.header-bottom ul.menu>li.is--selected>a {
  color: $black;
  border-bottom: 2px solid $black;
}


section#cover {
  padding: 5rem 0;
}

section#cover .download-desc {

}

.download-desc img {
  width: 80px;
}

section#ads {
}

section#desc1 {
  padding: 6rem 0;
  margin: 6rem 0;
  background-color: $gray-light;
}

section#desc1 .row {
  padding: 3rem 0;
}


section#desc2 {
  margin: 6rem 0;
}

section#desc2 .row {
  padding: 3rem 0;
}


footer#footer {
  padding: 3rem 0;
  background-color: $black-light;
  font-size: 13px;
}

footer#footer .block h5 {
  margin: 16px 0;
}

footer#footer .block a {
  display: block;
}
