.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.clearfix {
	*zoom: 1;
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

header {
  border-bottom: 1px solid #eee;
}

header nav {
  max-width: 1020px;
  margin: 0 auto;
}

header nav > ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  font-size: .9rem;
}

ul.nav > li {
  display: inline-block;
}

ul.nav > li a {
  text-decoration: none;
  color: #b3b3b3;
  transition: all .3s ease;
}


ul.nav > li.logo a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(http://framerjs.com/assets/static/images/logo-24-light@2x.png) no-repeat center center;
  background-size: contain;
  width: 20px;
}

ul.nav > li a:hover {
  color: #000;
}

ul.nav > li.active a {
  color: #000;
}

ul.nav li.trial a, ul.nav li.buy a {
  color: #00AAFF;
}


section.header {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

section.header .info {

}

section .col-2 h2 {
  margin-top: 0;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 50px;
}

section .col-2 p {
  line-height: 1.8;
  letter-spacing: .8px;
}

section.header .meetups {
  float: right;
}

.meetups ul {
  padding-left: 0;
  list-style: none;
}

.col-2 {
  max-width: 480px;
  float: left;
  margin-right: 60px;
}

[class*="col-"]:last-child {
  margin-right: 0;
}

.meetups ul > li {
  position: relative;
  height: 50px;
  font-size: 16px;
  margin-bottom: 40px;
}

.meetups li img {
  float: left;
  max-height: 100%;
  margin-right: 20px;
}

.meetups li a {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
}
.meetups li p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
}

.meetups li small {
  font-size: .8em;
  letter-spacing: 1px;
  line-height: 2.2;
}

.meetups li.tips {
  height: 1px;
  border-top: 1px solid #EEE;
  margin-bottom: 20px;
}

.meetups li span {
  display: inline-block;
  font-size: .9em;
  padding-right: 100px;
  line-height: 1.5;
}

.button-line {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 20px;
  color: #00AAFF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #00AAFF;
  background-color: transparent;
  transition: all 0.2s ease;
}

.gray {
  color: #b3b3b3;
  border-color: #bbb;
}

a.button-line:hover {
  color: #fff;
  background-color: #00AAFF;
}

a.gray:hover {
  color: #fff;
  border-color: #333;
  background-color: #333;
}

section.gallery {
  position: relative;
  height: 80vh;
  background: url(http://framerjs.com/assets/static/images/meetups/photos/nyc_3@2x.jpg) no-repeat center center;
  background-size: cover;
}

section.gallery .desc {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  color: #fff;
}

section.gallery .container h3, section.gallery .container p {
  display: inline-block;
  height: 200px;
  line-height: 200px;
}

section.gallery .container p {
  float: right;
}


section.topic {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

section.topic .summary{
  display: flex;
  flex-wrap: wrap;
}

section.topic .summary .icon-block {
  box-sizing: border-box;
  width: 50%;
  padding: 16px;
  text-align: center;
}

.icon-block img {
  width: 32px;
}

.icon-block h3 {
  font-weight: normal;
  margin-bottom: 0;
}

section .icon-block p {
  font-size: 14px;
  color: #bbb;
  line-height: 1;
}


section.topic .signup {
  padding-top: 60px;
  text-align: center;
}


footer.footer {
  padding: 20px 0;
  border-top: 1px solid #eee;
  background-color: #fcfcfc;
}

footer.footer .sitemap {
  display: flex;
  justify-content: space-between;
}


.sitemap h5 {
  margin-bottom: 10px;
}

.sitemap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.site ul li {
  position: relative;
}

.sitemap ul li a {
  color: #828282;
  line-height: 1.8;
  text-decoration: none;
  transition: all .3s ease;
}

.sitemap ul li a:hover {
  color: #000;
  margin-left: 2px;
  margin-right: -2px;
}

.sitemap ul li.copyright {
  color: #bbb;
  line-height: 3.8;
}
