.container {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.clearfix {
	*zoom: 1;
}
.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

header {
  border-bottom: 1px solid #eee;
}

header nav {
  max-width: 1020px;
  margin: 0 auto;
}

header nav > ul.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  font-size: .9rem;
}

ul.nav > li {
  display: inline-block;
}

ul.nav > li a {
  text-decoration: none;
  color: #b3b3b3;
  transition: all .3s ease;
}


ul.nav > li.logo a {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(http://framerjs.com/assets/static/images/logo-24-light@2x.png) no-repeat center center;
  background-size: contain;
  width: 20px;
}

ul.nav > li a:hover {
  color: #000;
}

ul.nav > li.active a {
  color: #000;
}

ul.nav li.trial a, ul.nav li.buy a {
  color: #00AAFF;
}


section.header {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

section.header .info {

}

section.header .info h2 {
  margin-top: 0;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 50px;
}

section.header .info p {
  line-height: 1.8;
  letter-spacing: .8px;
}

section.header .meetups {
  float: right;
}

.meetups ul {
  padding-left: 0;
  list-style: none;
}

.col-2 {
  max-width: 480px;
  float: left;
  margin-right: 60px;
}

[class*="col-"]:last-child {
  margin-right: 0;
}

.meetups ul > li {
  position: relative;
  height: 50px;
  font-size: 16px;
  margin-bottom: 40px;
}

.meetups li img {
  float: left;
  max-height: 100%;
  margin-right: 20px;
}

.meetups li a {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
}
.meetups li p {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
}

.meetups li small {
  font-size: .8em;
  letter-spacing: 1px;
  line-height: 2.2;
}

.meetups li.tips {
  height: 1px;
  border-top: 1px solid #EEE;
  margin-bottom: 20px;
}

.meetups li span {
  font-size: .9em;
  padding-right: 100px;
}

.button-line {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 20px;
  color: #00AAFF;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #00AAFF;
  background-color: transparent;
  transition: all 0.2s ease;
}

.gray {
  color: #b3b3b3;
  border-color: #bbb;
}

a.button-line:hover {
  color: #fff;
  background-color: #00AAFF;
}

a.gray:hover {
  color: #fff;
  border-color: #333;
  background-color: #333;
}

section.gallery {
  position: relative;
  height: 80vh;
  background: url(http://framerjs.com/assets/static/images/meetups/photos/nyc_3@2x.jpg) no-repeat center center;
  background-size: cover;
}

section.gallery .desc {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  color: #fff;
}

section.gallery .container {
  position: relative;
  height: 200px;
}

section.gallery .container h3 {
  position: absolute;
  height: 200px;
  left: 0;
  top: 50%;
  margin-top: -100px;
}

section.gallery .container p {
  position: absolute;
  height: 200px;
  right: 0;
  top: 50%;
  margin-top: -100px;
}
