.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after, .clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.float-right {
  float: right;
}


.v-middle {

}

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
}

.column {
  flex: 1;
  padding: 16px;
  margin-right: 45px;
}

.column:last-child  {
  margin-right: 0;
}

.column.col-2 {
  flex-basis: 50%;
  max-width: 50%;
}

.column.col-3 {
  flex-basis: 33.333333%;
  max-width: 33.333333%;
}

.column.col-offset-1 {
  margin-right: 8.333333%;
}

.column.col-offset-2 {
  margin-right: 16.666666%;
}

.column img {
  max-width: 100%;
}
