.btn, .btn-line {
  display: inline-block;
  padding: 8px 16px;
  font-size: 13px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: transparent;
  transition: all .3s ease; }

.btn {
  color: #FFF;
  border-color: #007ee5;
  background-color: #007ee5; }

.btn-line {
  color: #007ee5;
  border-color: #038EFF;
  background-color: transparent; }

.btn:hover {
  color: #FFF;
  border-color: #0072CF;
  background-color: #0072CF; }

.btn-line:hover {
  color: #FFF;
  border-color: #007ee5;
  background-color: #007ee5; }

.btn-larger {
  font-size: 18px;
  padding: 10px 20px; }

.text-input {
  display: inline-block;
  outline: none;
  border: 1px solid #7b8994;
  color: #3d464d;
  border-radius: 5px;
  padding: 8px 14px;
  width: 100%;
  font-size: 13px;
  box-sizing: border-box;
  margin-right: 14px;
  transition: all .3s ease; }

.text-input:hover {
  border-color: #038EFF;
  box-shadow: 0 0 10px rgba(3, 142, 255, 0.3); }

.text-input-larger {
  max-width: 300px;
  font-size: 18px;
  padding: 10px 14px; }

.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box; }

.clearfix {
  *zoom: 1; }

.clearfix:after, .clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.float-right {
  float: right; }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px; }

.column {
  flex: 1;
  padding: 16px;
  margin-right: 45px; }

.column:last-child {
  margin-right: 0; }

.column.col-2 {
  flex-basis: 50%;
  max-width: 50%; }

.column.col-3 {
  flex-basis: 33.333333%;
  max-width: 33.333333%; }

.column.col-offset-1 {
  margin-right: 8.333333%; }

.column.col-offset-2 {
  margin-right: 16.666666%; }

.column img {
  max-width: 100%; }

/* 1 */
header {
  height: 60px;
  background-color: #FFF;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #EAEEF1;
  box-shadow: 0 0 3px #EAEEF1;
  z-index: 9999; }

header#header .container {
  position: relative; }

header#header .logo {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 200px;
  background: url(https://cfl.dropboxstatic.com/static/images/notes/promo/paper-beta-logo@2x-vflPqxAlI.png) no-repeat center center;
  background-size: 100%;
  text-align: center;
  text-indent: -9999px;
  overflow: hidden; }

header#header .btn-line.sign-in {
  position: absolute;
  top: 13px;
  right: 0; }

section#index {
  padding: 120px 0 120px 0; }

section#index h1 {
  color: #3d464d;
  text-align: center;
  font-weight: lighter;
  font-size: 46px;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

section#index .desc {
  color: #7b8994;
  text-align: center;
  font-weight: normal;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 20px; }

section#index form.register {
  text-align: center;
  margin-top: 60px; }

section#video {
  height: 70vh;
  background: url(https://cfl.dropboxstatic.com/static/images/notes/promo/video_placeholder%402x-vflHrlMeU.png) no-repeat center center;
  background-size: cover;
  cursor: pointer; }

section#embed,
section#feedback,
section#idea,
section#inspire,
section#register {
  padding: 80px 0; }

section#embed h2,
section#feedback h2,
section#idea h2,
section#inspire h2,
section#register h2 {
  color: #7b8994;
  font-weight: normal;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 30px; }

section#embed h4,
section#feedback h4,
section#idea h4,
section#inspire h4,
section#register h4 {
  margin-bottom: 10px;
  color: #3d464d;
  font-weight: normal;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

section#embed .desc, section#feedback .desc, section#idea .desc, section#inspire .desc {
  color: #7b8994;
  font-weight: lighter;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

section#embed h2 + .desc, section#feedback h2 + .desc, section#idea h2 + .desc, section#inspire h2 + .desc {
  font-size: 20px;
  margin-bottom: 60px; }

section#embed ul, section#feedback ul {
  list-style: none;
  padding-left: 50px; }

section#embed ul li, section#feedback ul li {
  position: relative; }

section#embed ul li > img, section#feedback ul li > img {
  position: absolute;
  left: -50px;
  width: 23px; }

section#idea,
section#inspire,
section#register {
  text-align: center; }

section#idea h2 {
  margin-bottom: 100px; }

div.divide {
  text-indent: -9999px;
  width: 300px;
  border-top: 1px solid #EDF1F4;
  margin: 0 auto; }

section#register h4 {
  margin-bottom: 30px; }

footer {
  height: 60px;
  line-height: 60px;
  font-family: "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 200;
  font-size: 14px; }

footer a {
  text-decoration: none;
  color: #038EFF; }
  footer a:hover {
    text-decoration: underline;
    color: #007ee5; }
