$blue: #007ee5;
$blue-light: #038EFF;
$blue-dark: #0072CF;

$black: #3d464d;
$black-light: #697681;
$black-dark: #1B2126;

$gray: #7b8994;
$gray-light: #EAEEF1;
$gray-dark: #606F7B;

$white: #FFF;
$white-light: #fafafa;
$white-dark: #EDF1F4;


@import "kit";
@import "layout";
@import "font";


header {
  height: 60px;
  background-color: $white;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid $gray-light;
  box-shadow: 0 0 3px $gray-light;
  z-index: 9999;
}



header#header .container {
  position: relative;
}

header#header .logo {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 200px;
  background: url(https://cfl.dropboxstatic.com/static/images/notes/promo/paper-beta-logo@2x-vflPqxAlI.png) no-repeat center center;
  background-size: 100%;
  text-align: center;
  text-indent: -9999px;
  overflow: hidden;
}

header#header .btn-line.sign-in {
  position: absolute;
  top: 13px;
  right: 0;
}


section#index {
  padding: 120px 0 120px 0;
}

section#index h1 {
  color: $black;
  text-align: center;
  font-weight: lighter;
  font-size: 46px;
  font-family: $pingfang;
}

section#index .desc {
  color: $gray;
  text-align: center;
  font-weight: normal;
  font-family: $pingfang;
  font-size: 20px;
}


section#index form.register {
  text-align: center;
  margin-top: 60px;
}


section#video {
  height: 70vh;
  background: url(https://cfl.dropboxstatic.com/static/images/notes/promo/video_placeholder%402x-vflHrlMeU.png) no-repeat center center;
  background-size: cover;
  cursor: pointer;
}


section#embed, section#feedback, section#idea, section#inspire {
  padding: 80px 0;
}

section#embed, section#feedback, section#idea, section#inspire {
  h2 {
    color: $gray;
    font-weight: normal;
    font-family: $pingfang;
    font-size: 30px;
  }
}

section#embed, section#feedback, section#idea, section#inspire {
  h4 {
    margin-bottom: 10px;
    color: $black;
    font-weight: normal;
    font-family: $pingfang;
  }
}

section#embed, section#feedback, section#idea, section#inspire {
  .desc {
    color: $gray;
    font-weight: lighter;
    font-family: $pingfang;
  }
}

section#embed, section#feedback, section#idea, section#inspire {
  h2+.desc {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

section#embed, section#feedback {
  ul {
    list-style: none;
    padding-left: 50px;
  }
}

section#embed ul .desc {

}

section#embed ul li, section#feedback ul li {
  position: relative;
}

section#embed ul li>img, section#feedback ul li>img {
  position: absolute;
  left: -50px;
  width: 23px;
}

section#idea {
  text-align: center;
}

section#idea h2 {
  margin-bottom: 100px;
}

section#idea img {
  max-height: 240px;
  width: auto;
}

section#idea .column {
  padding: 40px;
}


div.divide {
  text-indent: -9999px;
  width: 300px;
  border-top: 1px solid $white-dark;
  margin: 0 auto;
}

section#inspire h2, section#inspire h2+.desc {
  text-align: center;
}

section#inspire img {
  max-height: 300px;
  height: 100%;
  width: auto;
}
