/*
* 按钮的一种类型
*
*  1. <a class="btn">按钮</a>
*  2. <button>按钮</button>
*  3. <input type="submit" value="按钮" />
*
*/

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  padding: 10px 14px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: $brand;
  color: #FFF;
  text-decoration: none; // <a class='btn' ...
  outline: none; // <button ...
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
          transition: all .2s ease;
  &:hover, &:active {
    background-color: $brand-dark;
    color: #FFF;
  }
}


.button.btn-outline {
  border-color: $brand;
  background-color: transparent;
  color: $brand;
  &:hover {
    border-color: transparent;
    background-color: $brand;
    color: #FFF;
  }
}


.button.is--disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}
